 <div class="bgimg">
        <nav class="navbar navbar-expand-md bg-danger navbar-dark">
            <div class="container">
                <a href="" class="navbar-brand text-light font-weight-bold">the Knot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto text-white">
                    <li class="nav-item">
                        <a routerLink="/food" class="nav-link text-white">Food</a></li>
                        <li class="nav-item">
                            <a routerLink="/port" class="nav-link text-white">PortPolio</a></li>
                            <li class="nav-item">
                                <a  routerLink="/destination" class="nav-link text-white">Destination</a></li>
                                <li class="nav-item">
                                    <li class="nav-item">                                        
                                        <li class="nav-item">
                                            <div class="col-3" style="cursor: pointer;" (click)=logout()>Logout</div>

                </ul>
            </div>
            </div>

        </nav>
        <div class="container text-center headerset">
            <h2>The KNOT</h2>
            <h1>YOUR DREAMS WITH OUR PLANS</h1>
            </div>
    </div>
<section class="container ourservices text-center">
    <h1>SERVICES</h1>
    <p>lorem ipsum dolor sit amet consectetur </p>
    <div class="row rowsetting">
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
            <div class="imgsetting d-block m-auto"><i class="fa fa-shopping-cart fa-3x"></i></div>
           <h2>shopping</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt alias quam voluptatem a, maiores vitae quaerat cupiditate ducimus! Quam tempora quae libero repellat aut repudiandae maiores,
                 magnam iure doloremque impedit!</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
            <div class="imgsetting d-block m-auto"><i class="	fa fa-taxi fa-3x text-yellow"></i></div>
           <h2>Venue Search</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt alias quam voluptatem a, maiores vitae quaerat cupiditate ducimus! Quam tempora quae libero repellat aut repudiandae maiores,
                 magnam iure doloremque impedit!</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
            <div class="imgsetting d-block m-auto"><i class="fa fa-edit fa-3x"></i></div>
           <h2>Invitation</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt alias quam voluptatem a, maiores vitae quaerat cupiditate ducimus! Quam tempora quae libero repellat aut repudiandae maiores,
                 magnam iure doloremque impedit!</p>
        </div>
    </div>
</section>


