<nav class="navbar navbar-expand-md bg-danger navbar-dark">
        <div class="container text-left">
            <a href="" class="navbar-brand text-light font-weight-bold">the Knot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#collapsenavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            <ul class="navbar-nav ml-auto text-white">
                <li class="nav-item">
                    
                    <li class="nav-item">
                        
                        <li class="nav-item">
                            
                            <li class="nav-item">
                                <a routerLink="/destination" class="nav-link text-white">Destination</a></li>
                                <li class="nav-item">
                                    <a routerLink="/port" class="nav-link text-white">Portfolio</a></li>
                                    <li class="nav-item">
                                        
            </ul>
        </div>
        </div>

    </nav>
<div class="container text-left">
    <h1>MENUE</h1>
    <h2>Thalis</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
         <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/mah1.jpg" class="card-img img-fluid"></div>  
                <div class="card-body">
                    <h4 class="title">Typical Mahashtrian Thali</h4>
                    <p class="card-text">Rs 120/-per thali</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
                <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/southind.jfif" class="card-img img-fluid">  </div>
                <div class="card-body">
                    <h4 class="title">South Indian Thali</h4>
                    <p class="card-text">Rs 150/- per thali</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
            <div class="card">
                <div class="inner">   <img class="img-fluid img-thumbnail"  id="d" src="assets/thali1.jpg" class="card-img img-fluid">  </div>
                <div class="card-body">
                    <h4 class="title">Punjabi Thali</h4>
                    <p class="card-text">270/- per thali</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card">
                    <div class="inner"><img class="img-fluid img-thumbnail" src="assets/thali2.jpg" class="card-img img-fluid">  </div>
                    <div class="card-body">
                        <h4 class="title">Indian Rich Thali</h4>
                        <p class="card-text">Rs 200/-per thali</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card">
                    <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/rajasthani.jpg" class="card-img img-fluid">  </div>
                    <div class="card-body">
                        <h4 class="title">Rajasthani Thali</h4>
                        <p class="card-text">Rs 200/- per thali</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card">
                    <div class="inner">      <img class="img-fluid img-thumbnail" src="assets/gujrathi.jfif" class="card-img img-fluid">  </div>
                    <div class="card-body">
                        <h4 class="title">Gujrathi Thali</h4>
                        <p class="card-text">250/- per thali</p>
                    </div>
                </div>
            </div>
        </div>
        <h2>STARTERS</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card">
                    <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/panipurishots.jfif" class="card-img img-fluid">  </div>
                    <div class="card-body">
                        <h4 class="title">PaniPuri Shots</h4>
                        <p class="card-text">Specially Available in our Packages</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card">
                    <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/chinese.jfif" class="card-img img-fluid">  </div>
                    <div class="card-body">
                        <h4 class="title">Chinese</h4>
                        <p class="card-text">Specially Available in our Packages</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                <div class="card">
                    <div class="inner">      <img class="img-fluid img-thumbnail" src="assets/icecream.jpg" class="card-img img-fluid">  </div>
                    <div class="card-body">
                        <h4 class="title">Ice Creams</h4>
                        <p class="card-text">Specially Available in our Packages</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <div class="inner">    <img class="img-fluid img-thumbnail" src="assets/thali3.jpg" class="card-img img-fluid">  </div>
                        <div class="card-body">
                            <h4 class="title">Indian Rich Thali</h4>
                            <p class="card-text">Rs 200/-per thali</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <div class="inner">    <img class="img-fluid img-thumbnail" src="assets/paneechiliie.jfif" class="card-img img-fluid">  </div>
                        <div class="card-body">
                            <h4 class="title">Special Paneer Chilli</h4>
                            <p class="card-text">Specially Available in our Packages</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/special drinks.jfif" class="card-img img-fluid">  </div>
                        <div class="card-body">
                            <h4 class="title">Special Drinks</h4>
                            <p class="card-text">Specially Available in our Packages</p>
                        </div>
                    </div>
                </div>
            </div>
<br>
<div class="starter">
            <h2>Special Deserts</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <div class="inner">   <img class="img-fluid img-thumbnail" src="assets/des2.jfif" class="card-img img-fluid">  </div>
                        <div class="card-body">
                            <h4 class="title">Elegantly Chic Rhode Island Wedding</h4>
                            <p class="card-text">Elegantly Chic Rhode Island Wedding
                                Specially Available in our Packages</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <div class="inner">   <img class="img-fluid img-thumbnail" src="assets/des3.jpg" class="card-img img-fluid">  </div>
                        <div class="card-body">
                            <h4 class="title">Special Barfi</h4>
                            <p class="card-text">Indial Special Barfi with different flavours Specially Available in our Packages</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                    <div class="card">
                        <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/des4.jfif" class="card-img img-fluid">  </div>
                        <div class="card-body">
                            <h4 class="title">Gulabjam</h4>
                            <p class="card-text">Specially Available in our Packages</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <div class="inner">       <img class="img-fluid img-thumbnail" src="assets/des5.jfif" class="card-img img-fluid">  </div>
                            <div class="card-body">
                                <h4 class="title">Kajukatli</h4>
                                <p class="card-text">Rs 200/-per thali</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <div class="inner">      <img class="img-fluid img-thumbnail" src="assets/des6.jfif" class="card-img img-fluid">  </div>
                            <div class="card-body">
                                <h4 class="title">Punjabi Desert Flavour</h4>
                                <p class="card-text">Specially Available in our Packages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <div class="inner">      <img class="img-fluid img-thumbnail" src="assets/des7.jfif" class="card-img img-fluid">  </div>
                            <div class="card-body">
                                <h4 class="title">Our Special desert</h4>
                                <p class="card-text">Our special desert 
                                    Specially Available in our Packages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>