 <div class="bgimg">
        <nav class="navbar navbar-expand-md bg-danger navbar-dark fixed-tops">
            <div class="container">
                <a href="" class="navbar-brand text-light font-weight-bold">the Knot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto text-white">
                    <li class="nav-item">
                        
                        <li class="nav-item">
                            <a routerLink="/port" class="nav-link text-white">Portfolio</a></li>
                            <li class="nav-item">
                                <a routerLink="/food" class="nav-link text-white text-right">Food</a>
                                <li class="nav-item">
                                    
                                    <li class="nav-item">
                                        
                                        <li class="nav-item">
                                            
                </ul>
            </div>
            </div>

        </nav>
        <div class="a" id="l">
            <section class="dest bg-light">
            <div class="container text-center">
                <h1>Venues</h1>
                <h2>For Destination Wedding </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                     <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/dest1.jfif" class="card-img img-fluid"></div>  
                            <div class="card-body">
                                <h4 class="title">Beach Side Destination Wedding</h4>
                                <p class="card-text">Beach side weddings
                                    makes your special moments more special,Specially available in our packages. 
                                    
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/dest2.jfif" class="card-img img-fluid">  </div>
                            <div class="card-body">
                                <h4 class="title">Destination Goa Beach</h4>
                                <p class="card-text">if you want a lavish ceremony but under a limited budget,then this is best option for you.
                                    </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <div class="inner">   <img class="img-fluid img-thumbnail"  id="d" src="assets/dest3.jpg" class="card-img img-fluid">  </div>
                            <div class="card-body">
                                <h4 class="title">Hyat Long Beach Indian Wedding</h4>
                                <p class="card-text">best option in limited budget</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <div class="inner"><img class="img-fluid img-thumbnail" src="assets/dest4.jpg" class="card-img img-fluid">  </div>
                                <div class="card-body">
                                    <h4 class="title">Indian Destination Wedding</h4>
                                    <p class="card-text">Romantic and beautiful destination wedding Lighting ideas,Specially Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/dest5.jpg" class="card-img img-fluid">  </div>
                                <div class="card-body">
                                    <h4 class="title">Flower Decoration</h4>
                                    <p class="card-text">Bright Flower-Filled Multicultural Wedding At A Ranch</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <div class="inner">      <img class="img-fluid img-thumbnail" src="assets/dest6.jpg" class="card-img img-fluid">  </div>
                                <div class="card-body">
                                    <h4 class="title">Treasure Island Resorts, Lonavala, Lonavala</h4>
                                    <p class="card-text">Situated amidst the rolling mountains of Lonavala, Treasure Island Resorts, 
                                        Lonavala, Pune, is an exotic destination venue to tie the knot with the love of your life</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/dest7.jpg" class="card-img img-fluid">  </div>
                                <div class="card-body">
                                    <h4 class="title">Radisson Blu Udaipur Palace Resort & Spa, Udaipur, Rani Road</h4>
                                    <p class="card-text">A 5-star hotel from one of the most exquisite chains of luxury hotels set in one of 
                                        the most beautiful destinations in the country, 
                                        Radisson Blu Udaipur Palace Resort & Spa, Udaipur, says it all in the name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <div class="inner">     <img class="img-fluid img-thumbnail" src="assets/dest8.jpg" class="card-img img-fluid">  </div>
                                <div class="card-body">
                                    <h4 class="title">Samsara Luxury Resort And Camp, Jodhpur, Pal Road</h4>
                                    <p class="card-text">Samsara Luxury Resort And Camp, Jodhpur is one of the most beautiful destination wedding venues to consider for your special day. 
                                        It’s located 1 hour away from Shaitan Singh Nagar Station and easy to find</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <div class="inner">      <img class="img-fluid img-thumbnail" src="assets/dest9.jpg" class="card-img img-fluid">  </div>
                                <div class="card-body">
                                    <h4 class="title">Desert Tulip Hotel & Resort, Jaisalmer, NH-8</h4>
                                    <p class="card-text">Samsara Luxury Resort And Camp, Jodhpur is one of the most beautiful destination wedding venues to consider for your special day. 
                                        It’s located 1 hour away from Shaitan Singh Nagar Station and easy to find</p>
                                </div>
                            </div>
                        </div>
                    <footer>
                        <h6 class="footer">
                            Copyright @2020, Design by the Knot team
                        </h6>
                    </footer>
                    
                </div>
       