<div class="bgimg">
        <nav class="navbar navbar-expand-md bg-danger navbar-dark fixed-tops">
            <div class="container">
                <a href="" class="navbar-brand text-light font-weight-bold">the Knot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto text-white">
                    <li class="nav-item">
                        
                        <li class="nav-item">
                            <a routerLink="/food" class="nav-link text-white">Food</a></li>
                            <li class="nav-item">
                                <a routerLink="/destination" class="nav-link text-white text-right">Destination</a></li>
                                <li class="nav-item">
                                    
                                    <li class="nav-item">
                                        
                                        <li class="nav-item">
                                            
                </ul>
            </div>
            </div>

        </nav>
    
        <div class="d" id="o">
            <div class="portfolio bg-light" >
            <div class="container text-center">
                <h1>Portfolio</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <img class="img-fluid img-thumbnail" src="assets/por1.jfif">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <img class="img-fluid img-thumbnail" src="assets/port2.jfif">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <img class="img-fluid img-thumbnail" src="assets/port3.jfif">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <img class="img-fluid img-thumbnail" src="assets/port6.jfif">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <img class="img-fluid img-thumbnail" src="assets/port7.jfif">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                        <div class="card">
                            <img class="img-fluid img-thumbnail" src="assets/port8.jfif">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <img class="img-fluid img-thumbnail" src="assets/port4.jfif">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <img class="img-fluid img-thumbnail" src="assets/port5.jfif">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
                            <div class="card">
                                <img class="img-fluid img-thumbnail" src="assets/p0.jfif">
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <footer>
            <h6 class="footer">
                Copyright @2020, Design by the Knot team
            </h6>
        </footer>
