.form-container{border:0.5px solid;padding-top:30px;padding-left: 80px;padding-right: 80px;padding-bottom: 30px;background-color: white;}
.bg{background:url('src/assets/front.jpeg') no-repeat;background-size:cover;height: 100vh;}
